@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	margin: none;
	padding: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #d1d6d6;
	padding: 0 10px;
}

.wrapper {
	max-width: 500px;
	width: 100%;
	margin: 20px;
	padding: 30px;
	box-shadow: 1px 1px 2px #d1d6d6;
}

.title {
	font-size: 24px;
	font-weight: 700;
	color: #083155;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
}

.form {
	width: 100%;
	padding-left: 80px;
}

.input_field {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

label {
	width: 100px;
	font-size: 14px;
}

.language_select {
	font-size: 12px;
	font-weight: 400;
}

.gender_select {
	font-size: 12px;
	font-weight: 400;

}
